html {
  font-size: 1rem;
}

body {
  margin: 0px;
  height: 100%;
  padding: 4rem;
  padding-bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-ground);
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  text-decoration: none;
  color: #fff !important;
}

a:visited {
  color: #fff !important;
}

.App-content {
  margin-top: 50px;
}